doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Annete Crochet - Nuestros Servicios
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href="#" style="font-family: 'Roboto', sans-serif;") ANNETE CROCHET
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/") Inicio
          li.nav-item
            a.nav-link(href="/nosotros") Nosotros
          li.nav-item
            a.nav-link(href="/servicios") Nuestros Servicios
          li.nav-item
            a.nav-link(href="/catalogo-clientes") Catálogo de Clientes
          li.nav-item
            a.nav-link(href="/contacto") Contáctenos

    // Contenido de Nuestros Servicios
.container.mt-5
  h2 Nuestros Servicios
  .row
    .col-md-4.mb-4
      .card
        a(href="/Annete/servicios/design") 
          img.card-img-top(src="/images/servicio1.jpg", alt="...")
          .card-body
            h5.card-title(style="color: black;") Diseño y Creación de Piezas Únicas
            p.card-text(style="color: black;") Ofrecemos servicios de diseño y creación de piezas únicas de crochet, adaptadas a los gustos y necesidades de cada cliente. Desde prendas de vestir hasta accesorios para el hogar, trabajamos en colaboración con nuestros clientes para transformar sus ideas en realidad.
    .col-md-4.mb-4
      .card
        img.card-img-top(src="/images/servicio2.jpg", alt="...")
        .card-body
          h5.card-title Clases y Talleres de Crochet
          p.card-text Impartimos clases y talleres de crochet para principiantes y aficionados avanzados. Nuestros cursos cubren desde los conceptos básicos del tejido hasta técnicas avanzadas, brindando a nuestros alumnos las habilidades necesarias para crear sus propias obras maestras en crochet.
    .col-md-4.mb-4
      .card
        img.card-img-top(src="/images/servicio3.jpg", alt="...")
        .card-body
          h5.card-title Personalización de Productos
          p.card-text Ofrecemos servicios de personalización de productos de crochet, permitiendo a nuestros clientes agregar un toque personal a sus piezas favoritas. Desde nombres bordados hasta diseños exclusivos, nos encargamos de hacer que cada pieza sea verdaderamente única y especial.



    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
